html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin:0;
    padding:0;
    background-color: #f7f7f7;

}
.App{
    width:80%;
    margin:auto;
    text-align: center;
}
ul{
    margin:10;
    padding:0;
}
li{
    border:1px solid #eee;
    padding:1.5rem;
    background-color: white;
    margin-bottom: 2rem;
    width:80%;
    margin: 2rem auto;
    list-style: none;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3); 
}